header {
    background-color: var(--amarillo);
    padding-top: 20px;
    padding-bottom: 20px;
}

header div.top-tablet {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 10px;
    align-items: center;
}

header div.top {
    display: flex;
    align-items: center;
}

header div.top {
    width: 100%;
}

header img.logo, header div.search {
    width: 50%;
}

header div.search {
    display: flex;
    background-color: white;
    border-radius: 10px;
    padding: 0px 5px;
    height: 35px;
}

header div.top form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header div.search input, header div.search button {
    background-color: white;
    border: none;
    height: 75%;
}

header div.search input {
    width: 85%;
}

header div.search button {
    width: 15%;
}

header p {
    text-align: center;
    font-size: 14px;
    margin: 10px auto;
}

header nav input{
    display: none;
}

header nav label.menu {
    display: flex;
    width: 48px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    background-color: var(--celeste);
    color: white;
    padding: 10px;
    border-radius: 6px;
}

header nav label.menu i {
    font-size: 26px;
}

header nav ul {
    display: none;
    margin-top: 15px;
}

header nav input:checked ~ ul{
    display: block;
}

header nav ul li a {
    font-size: 14px;
}



/* Tablet */

@media (min-width: 361px) {

    header div.top {
        padding: 0px;
        width: 67%;
    }

    header p {
        width: 33%;
    }

    header nav label.menu {
        display: none;
    }

    header nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    header nav ul {
        display: flex;
        justify-content: space-around;
        width: 40%;
    }

}



/* Desktop */

/* @media (min-width: 769px) {

} */