main section.banner {
    display: none;
}

main section.products, main section.ofertas {
    display: flex;
    flex-wrap: wrap;
}

main section h2 {
    display: flex;
    justify-content: flex-start;
    color: var(--grisOscuro);
    font-size: var(--titulares);
    margin: 25px auto;
    width: 95%;
}

main section article {
    margin: 10px;
    width: 100%;
    background-color: white;
}

main section article div {
    background-color: white;
    border-top: 1px solid #ebebeb;
    padding: 15px;
    position: relative;
}

main section article div div.truck {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--verde);
    border-radius: 50%;
    background-color: #FFF;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section article div i {
    color: var(--verde);
}

main section article div p {
    font-size: var(--precios);
}

main section article div span {
    color: var(--verde);
    font-size: var(--descuentos-descripciones);
}

main section article div h3 {
    color: var(--grisOscuro);
    display: none;
    font-size: var(--descuentos-descripciones);
    font-weight: lighter;
    margin-top: 15px;
}



/* Tablet */

@media (min-width: 361px) {

    main section.banner {
        display: block;
    }

    main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 45%;
        margin: 10px auto;
    }

    main section article div h3 {
        display: block;
    }
}



/* Desktop */

@media (min-width: 769px) {
    main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 22%;
    }

}