/* font-family: 'Roboto', sans-serif; */

/* Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a; */

/* Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px */

* {
    display: block;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

head {
    display: none;
}

img {
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
    text-transform: none;
}

li {
    list-style: none;
}

/* header */

header {
    background-color: #EAC926;
    padding-top: 10px;
    padding-bottom: 20px;
}

header img.logo {
    width: 50%;
    margin: 10px;
}

header p {
    text-align: center;
    font-size: 16px;
}

header nav ul {
    margin-top: 20px;
    margin-bottom: 20px;
}

header nav ul li a {
    font-size: 16px;
}

header nav div.menu {
    text-align: center;
    width: 49px;
    margin: auto;
    background-color: #1259c3;
    color: white;
    padding: 12px 1px;
    border-radius: 6px;
}

header nav div.menu i {
    font-size: 28px;
}